<div class="container">
  <div class="well col-md-2 col-md-offset-5">
    <div class="col-md-2 col-md-offset-1">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" name="quantity">Quantity
        <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu">
          <% (1..30).each do |quantity| %>
          <li class="text-center"><%= link_to quantity, recipes_path(quantity: quantity, method: :post)%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-12">
  </div>

    <% @recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="well">
        <div class="recipe">
          <%= image_tag recipe.image_url, class: "img-responsive" %>
          <h3><%= link_to recipe.title, recipe.source_url %></h3>
          <h4><%= recipe.f2f_url %></h4>
        </div>
      </div>
    </div>
    <% end %>
