<div class="container">
Likes:

<% if @user.likes %>
  <% @user.likes.each do |like| %>
    <div class="likes"><%= like.ingredient.name %></div>
  <% end %>
  <% else %>
    None
<% end %>

Dislikes:

<h3>---</h3>

Add Likes:
<div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" name="quantity">Ingredients
    <span class="caret"></span></button>
    <ul class="dropdown-menu scrollable-menu">
      <% @ingredients.each do |ingredient| %>
      <li class="text-center"><%= link_to ingredient.name, user_preferences_path(user_id: current_user.id, ingredient: ingredient, method: :post)%></li>
      <% end %>
    </ul>
  </div>
</div>
