body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("https://static.pexels.com/photos/106877/pexels-photo-106877.jpeg");
}

.img-resize {
  height: auto;
  width: 200px;
}

.button-padding {
  padding-bottom: 20px;
}

.recipe-well {
  min-height: 500px !important;
}

.img-max-height {
  max-height: 350px;
}
