body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("https://static.pexels.com/photos/106877/pexels-photo-106877.jpeg");
}
